{% extends 'base.html.twig' %}

{% block title %}Simple index{% endblock %}

{% block body %}
    <h1>Simple index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created_on</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for simple in simples %}
            <tr>
                <td>{{ simple.id }}</td>
                <td>{{ simple.name }}</td>
                <td>{{ simple.createdOn ? simple.createdOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('simple_show', {'id': simple.id}) }}">show</a>
                    <a href="{{ path('simple_edit', {'id': simple.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('simple_new') }}">Create new</a>
{% endblock %}