{% extends 'base.html.twig' %}

{% block title %}Simple{% endblock %}

{% block body %}
    <h1>Simple</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ simple.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ simple.name }}</td>
            </tr>
            <tr>
                <th>Created_on</th>
                <td>{{ simple.createdOn ? simple.createdOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('simple_index') }}">back to list</a>

    <a href="{{ path('simple_edit', {'id': simple.id}) }}">edit</a>

    {{ include('simple/_delete_form.html.twig') }}
{% endblock %}